apache-airflow-providers-google
protobuf==3.20.0
pyarrow
google-cloud-aiplatform>=1.7.1

google-cloud-automl>=2.1.0

google-cloud-bigquery-datatransfer>=3.0.0

google-cloud-bigtable>=2.0.0

google-cloud-build>=3.0.0

google-cloud-compute>=0.1.0

google-cloud-container>=2.2.0

google-cloud-dataflow-client>=0.5.2

google-cloud-dataform>=0.2.0

google-cloud-datacatalog>=3.0.0

backoff>=2.2.1

